/*FONT TYPE*/
$fontMaster: 'Poppins', sans-serif;

/*COLOR*/
$colorPrimary: #1598E8;
$colorSecondary: #031B40;
$colorHover: #1598E8;

/*Screen Size Media Query*/
$view-phoneExtraSmall: 340px;
$view-phoneSmall: 375px;
$view-phoneMiddle: 520px;
$view-phoneExtraMiddle: 680px;
$view-phoneLarge: 900px;
$view-tablet: 1020px;