@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/*FONT TYPE*/
/*COLOR*/
/*Screen Size Media Query*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Poppins', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #E5E5E5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  color: inherit;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.rowFull {
  width: 100%;
  position: relative;
  float: left;
  position: relative;
  margin: 0 auto;
}
.rowFull .containerBlock {
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: block;
}
.rowFull .containerBlock .cardsScope {
  width: 100%;
  position: relative;
  float: left;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
  background-color: #FFF;
  margin-top: 35%;
}

.cardsButton {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
  position: relative;
  float: left;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: #FFC208;
  color: #5D36AF;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
}

.cardsItem {
  width: 24%;
  position: relative;
  float: left;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  border-radius: 14px;
  margin-right: 1.3%;
  text-align: center;
  padding: 30px 25px;
  box-sizing: border-box;
  cursor: pointer;
  transition: ease .50s;
}
.cardsItem:nth-child(4n) {
  margin-right: 0;
}
.cardsItem:hover {
  background-color: #d7c4ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardsItem.active {
  background-color: #d7c4ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardsItem .cardsTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #011431;
  padding: 15px 0px;
}
.cardsItem .cardsDescription {
  font-size: 14px;
  line-height: 130%;
  font-weight: 300;
  text-align: center;
  color: #011431;
  padding-bottom: 15px;
}
.cardsItem .cardsDescription ul {
  margin-top: 20px;
}
.cardsItem .cardsDescription ul li {
  line-height: 200%;
}
.cardsItem .cardsPriceScope {
  text-align: center;
  padding-bottom: 15px;
}
.cardsItem .cardsPriceScope .cardsPriceType {
  font-size: 14px;
  font-weight: 300;
  vertical-align: top;
  color: #5D36AF;
}
.cardsItem .cardsPriceScope .cardsPrice {
  font-size: 30px;
  font-weight: 400;
  color: #5D36AF;
}
.cardsItem .cardsPriceScope .cardsPriceMonth {
  font-size: 14px;
  font-weight: 300;
}
.cardsItem .cardsButtonScope {
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
}

@media only screen and (max-width: 1020px) {
  .cardsItem {
    width: 48%;
    position: relative;
    float: left;
  }
}
@media only screen and (max-width: 520px) {
  .cardsItem {
    width: 100%;
    position: relative;
    float: left;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
